<!--  ATTENTION
		Ce fichier n'est pris en compte que si le déploiement est effectué
		dans le répertoire de déploiement à chaud de Tomcat.
		Si ce n'est pas le cas il faut que le contenu du fichier
		
			%TOMCAT_HOME%/conf/Catalina/localhost/monAppli.xml
			
		reprenne les éléments contenus dans <Context>...</Context>
-->
<Context reloadable="true">
	<Resource
		name='jdbc/cinema'
		auth='Container' 
		type='javax.sql.DataSource'
		driverClassName='com.mysql.cj.jdbc.Driver'
		url='jdbc:mysql://localhost:3306/cinema?serverTimezone=UTC'
		username='root'
		password=''
		maxActive='20'
		maxIdle='10'
		maxWait='1000'
		removeAbandoned='true'
		clearReferencesStopThreads='true' />
</Context>